@import "../../../utils/colors";

.clicky-card {

    // height: 8rem;
    width: 50vw;
    height: 20vh;
    border: 1px solid white;
    // padding: auto;
    // margin-bottom: 1rem;
    // border-radius: 5px;
    // position: relative;
    
    &__text {
        // width: 100%;
        // height: 2rem;
        // background-color: gray;
        // text-align: center;
        color: white;
        // position: absolute;
        // bottom: 50%;
        // font-size: 2em;
        // right: 50%;
        
    }

    &__wrapper {
        // max-width: 18rem;
        // width: 30%;
        // border: 1px solid black;
        // padding: auto;
        // margin: 0.2rem;
    }

    &--red {
        background-color: $color-red;
    }

    &--blue {
        background-color: blue;
    }

    &--yellow {
        background-color: yellow;
    }

    &--orange {
        background-color: orange;
    }

    &--green {
        background-color: green;
    }
    
    &--purple {
        background-color: purple;
    }

    
}