body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    background-color: black !important;
    width: 100vw;
    height: 100vh;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.clicky-header{
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0 15px;

    &__title {
      font-size: 2em;
      padding: 5px;
      text-align: center;
    }

    &__subline {
      background-color: rgba($color: black, $alpha: 0.8)
    }

    &__maxScore {
      text-align: center;
    }

    &__message {
      text-align: center;
      width: 100%;
      background-color:  rgba($color: lightgrey , $alpha: 1);
      color: black;
      padding: auto;
      height: 100px;
    }
  }

.start-painel {
  // position: relative;
  height: 100vh;
  position: relative;
  width: 100vw;
  background-color: black;
  

  &__title {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    color: white;
 
  }
}

.clicky-center{
  text-align: center;
}